.reply-textarea {
    font-family: Garamond;
    font-size: 14px;
    margin-top: 10px;
}

.reply-textarea:focus {
    outline: 1px solid teal;
}

.post-reply-button {
    width: 20%;
    font-family: Garamond;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid teal;
    cursor: pointer;
}

.post-reply-button:hover {
    background-color: teal;
    border: 1px solid white;
    color: white;
}