.reply-list {
    width: 70%;
    min-height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    position: relative;
    padding: 5px;
}

.reply-list-title{
    align-self: flex-start;
    font-weight: 600;
}

.reply-button {
    width: 30%;
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: Garamond;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid teal;
    cursor: pointer;
}

.reply-button:hover {
    background-color: teal;
    border: 1px solid white;
    color: white;
}