.reply-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reply-text {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}