.message-item {
    width: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.message-text-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-reactions-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-react-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.message-like-icon{
    color: grey;
    margin-right: 5px;
    cursor: pointer;
}

.message-like-icon:hover{
    color: rgb(70, 69, 69);
}

.message-dislike-icon{
    color: grey;
    margin-right: 5px;
    cursor: pointer;
}

.message-dislike-icon:hover{
    color: rgb(70, 69, 69);
}