.message-list {
    width: 70%;
    height: 65vh;
    margin: auto;
    margin-top: 20px;
    overflow: auto;
    box-shadow: 0 0 5px rgb(94, 93, 93);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.message-id {
    margin-bottom: 10px;
}

.button-container {
    margin-top: 20px;
}

.button-to-chat {
    width: 20%;
    font-family: Garamond;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid teal;
    color: rgb(0, 29, 29);
    cursor: pointer;
    margin-right: 20px;
}

.button-to-chat:hover {
    background-color: teal;
    border: 1px solid white;
    color: rgb(237, 250, 250);
}

.button-to-send {
    width: 20%;
    font-family: Garamond;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid teal;
    color: rgb(0, 29, 29);
    cursor: pointer;
}

.button-to-send:hover {
    background-color: teal;
    border: 1px solid white;
    color: rgb(237, 250, 250);
}