.form-container {
    width: 100%;
    height: 100%;
}

.form-block {
    margin: auto;
    width: 30%;
    margin-top: 10%;
    border: 1px solid teal;
    padding: 20px;
}

.form-input {
    width: 80%;
    margin-bottom: 10px;
    font-family: Garamond;
    font-size: 14px;
}

.form-input:focus {
    outline: 1px solid teal;
}

.form-send-button {
    width: 20%;
    font-family: Garamond;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid teal;
    color: rgb(0, 29, 29);
    cursor: pointer;
}

.form-send-button:hover {
    background-color: teal;
    border: 1px solid white;
    color: rgb(237, 250, 250);
}