.header-container {
    width: 70%;
    height: 20px;
    margin: auto;
    box-shadow: 0 0 5px rgb(94, 93, 93);
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
}

.find-messages {
    width: 50px;
    font-family: Garamond;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid teal;
    color: rgb(0, 29, 29);
    cursor: pointer;
    margin-left: 10px;
}

.find-messages:hover {
    background-color: teal;
    border: 1px solid white;
    color: rgb(237, 250, 250);
}

.search-input {
    font-family: Garamond;
    font-size: 14px;
}

.search-input:focus {
    outline: 1px solid teal;
}

.header-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
}